<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/responsive.gs.12col.css">
  <link rel="stylesheet" href="/css/application.css">
  <title>DBC Mail</title>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/email.js"></script>
  <script src="/js/stream.js"></script>
  <script src="/js/inbox.js"></script>
  <script src="/js/inboxView.js"></script>
  <script src="/js/inboxController.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
